body {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f5f7f9;
}

* {
  box-sizing: inherit;
}

div {
  display: block;
}

nav {
  background: white;
  color: black;
  padding: 25px 50px;
  margin: 30;
}

.menu-items .current-menuItem {
  color: #ffad8f;
}

.navTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 2px;
}

.navItems .contact {
  position: relative;
  left: 150px;
  font-size: 13px;
  cursor: pointer;
}

.navItems .about {
  position: relative;
  left: 135px;
  font-size: 13px;
  cursor: pointer;
}

.logo {
  max-width: 120px;
  height: auto;
  position: relative;
  left: -14px;
}

.navItemIcon {
  height: 70;
  width: 150;
}
.navItemIcon .Price-currencySymbol {
  left: 20px;
}

.contact {
  margin: 9px;
  cursor: pointer;
}

.shopping-bag-icon {
  cursor: pointer;
  position: relative;
  left: 5px;
  margin: 5px;
}

.user-icon {
  cursor: pointer;
  position: relative;
  left: 15px;
  margin: 5px;
}

.menu-items ul {
  list-style: none;
  padding: 0;
}

.menu-items li {
  position: relative;
  left: -215px;
  display: inline;
  margin: 0 10px;
  font-weight: 400;
  font-size: 15px;
  color: black;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.menu-items li:hover {
  color: #ffad8f;
}

.Price-currencySymbol,
.about,
.contact,
.shopping-bag-icon {
  transition: all 200ms ease-in-out;
}

.about:hover,
.contact:hover {
  color: #ffad8f;
}

.navItemIcon .duo {
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

.navItemIcon .duo:hover {
  color: #ffad8f;
}

.site-content {
  padding-top: 30px;
}

.sidebar-searchInput {
  padding: 6px 30px;
  font-size: 1rem;
  box-shadow: none;
  border-radius: 0;
  flex-grow: 1;
  line-height: 1.8;
  background: #fff;
  color: #757575;
  height: auto;
  box-sizing: border-box;
  transition: all 0.2s linear;
  border: 1px solid #e2e2e2;
  outline: none;
  font-weight: lighter;
  vertical-align: baseline;
  margin: 0;
}

::-webkit-input-placeholder {
  text-align: left;
  position: relative;
  left: -24px;
}

.product-search-btn {
  color: white;
  background: #ffad8f;
  padding: 9px 8px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: none;
  outline: none;
  fill: currentColor;
  border: 1px solid #ffad8f;
  font-size: 15px;
  position: relative;
  top: 4px;
  left: 7px;
}

.product-search-btn:hover {
  color: white;
  background-color: #ffad7f;
}

.ast-container {
  max-width: 1360px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.price-filter {
  margin-top: 45px;
}

.price-filter h2 {
  margin-top: 30px;
  margin-bottom: 0.7em;
  font-size: 1.375rem;
  color: #333333;
  font-weight: 400;
  line-height: 1.5;
  border: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

.filter-range {
  margin-top: -12px;
  margin-left: -2px;
}

.filter-button {
  margin-top: 40px;
  font-size: 0.8em;
  padding: 8px 18px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
  border: none;
  background-color: #ffad8f;
  cursor: pointer;
}

.filter-button:hover {
  background-color: #ffad7f;
  color: #fff;
}

input[type="range"] {
  box-sizing: border-box;
  appearance: none;
  width: 270px;
  margin: 0;
  padding: 0 0px;
  /* Add some L/R padding to ensure box shadow of handle is shown */
  overflow: hidden;
  border: 0;
  border-radius: 1px;
  outline: none;
  background: linear-gradient(black, black) no-repeat center;
  /* Use a linear gradient to generate only the 2px height background */
  background-size: 100% 3px;
  pointer-events: none;

  &:active,
  &:focus {
    outline: none;
  }

  &::-webkit-slider-thumb {
    height: 16px;
    width: 16px;
    border-radius: 28px;
    background-color: black;
    position: relative;
    margin: 5px 0;
    /* Add some margin to ensure box shadow is shown */
    cursor: pointer;
    appearance: none;
    pointer-events: all;
    box-shadow: none;

    &::before {
      content: " ";
      display: block;
      position: absolute;
      top: 13px;
      left: 100%;
      width: 2000px;
      height: 2px;
    }
  }
}

.multi-range {
  position: relative;
  height: 50px;

  input[type="range"] {
    position: absolute;

    &:nth-child(1) {
      &::-webkit-slider-thumb::before {
        background-color: red;
      }
    }

    &:nth-child(2) {
      background: none;

      &::-webkit-slider-thumb::before {
        background-color: grey;
      }
    }
  }
}

.price {
  margin-left: 58px;
  font-size: 0.8751em;
}

.product-categories {
  margin-top: 50px;
}

.product-categories h2 {
  font-weight: 400;
}

.product-sections {
  list-style: none;
}

.product-sections li {
  margin-bottom: 20px;
  font-weight: lighter;
  cursor: pointer;
}

.category-items {
  margin-left: -40px;
}

.number-item1 {
  margin-left: 150px;
}

.number-item2 {
  margin-left: 203px;
}

.number-item3 {
  margin-left: 180px;
}

.our-best-sellers {
  margin-top: 65px;
  font-weight: lighter;
  margin-bottom: 33px;
}

.widget-area {
  padding-right: 30px;
}

.wrap {
  display: flex;
  align-items: center;
  gap: 7%;
  margin-bottom: 10px;
  cursor: pointer;
}

.text-wrap {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.product-title {
  margin-top: -15px;
  margin-bottom: 7px;
}

.text-wrap span {
  margin-top: 7px;
}

.star i {
  margin: -2px;
}

hr {
  opacity: 0.33;
  margin-top: 15px;
  margin-bottom: 17px;
}

.content-area {
  background: #fff;
  padding-left: 50px;
}

.content-top {
  display: flex;
  justify-content: space-between;
  padding: 0 100px 0 39px;
}

.site-container {
  display: flex;
  margin-top: 65px;
}

.secondary-container {
  margin-left: 55px;
}

.content-area {
  margin-left: 37px;
  width: 63%;
  padding: 66px 18px 0 65px;
}

.grid-product-parent {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 250px));
  gap: 20px;
}

.grid-product {
  width: 100%;
}

img {
  max-width: 100%;
  cursor: pointer;
}

.orderby {
  color: rgba(0, 0, 0, 0.5);
  border: transparent;
  border-radius: 0;
  padding: 0.5em;
  font-size: 1rem;
  font-weight: 400;
  box-shadow: none;
  line-height: normal;
  vertical-align: top;
}

.filer-results {
  color: rgba(0, 0, 0, 0.7);
  float: left;
  margin-bottom: 10px;
}

.home-store,
.home-store a {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  margin-bottom: -8px;
  font: 0.92em;
}
.home-store {
  padding: 25px 43px;
}

.des {
  text-align: left;
}

.des h5 {
  font-size: 16px;
  font-weight: 600;
  margin-top: 15px;
  cursor: pointer;
}

.des span {
  display: block;
  margin-top: -16px;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: lighter;
  opacity: 0.33;
}

.des .product-price {
  margin-bottom: 8px;
  font-size: 15px;
  font-weight: 500;
}

.nav-paginaton {
  display: flex;
  justify-content: left;
}

.pagination {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.pagination li {
  margin: 0 1px;
}

.pagination a {
  display: block;
  padding: 0.5em 1em;
  border: 1px solid #999;
  border-radius: 0.2em;
  text-decoration: none;
  color: black;
}

.pagination a:hover {
  color: white;
  background-color: black;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

#pagination2 {
  color: white;
  background: black;
  cursor: inherit;
}

#pagination1 {
  color: white;
  background: black;
  cursor: inherit;
}

.footer {
  background: #fff;
  margin-top: 70px;
}

hr {
  opacity: 0.33;
}

.site-footer-sale-text a {
  text-decoration: none;
  color: black;
  transition: all 0.2s linear;
  background-color: transparent;
  cursor: pointer;
}

.site-footer-sale-text a:hover {
  color: #ffad8f;
}

.site-footer-sale h3 {
  font-size: 1.625rem;
  line-height: 1.5em;
  font-weight: 700;
  font-style: inherit;
  padding-top: 50px;
  padding-bottom: 50px;
}

.site-footer-sale {
  padding-left: 120px;
}

figure {
  padding-left: 10px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
  text-align: left;
}

figure img {
  vertical-align: middle;
  height: auto;
  max-width: 100%;
  border: 0;
  box-sizing: inherit;
  width: 90px;
  aspect-ratio: auto 90 / 30;
  overflow-clip-margin: content-box;
  overflow: clip;
}

figure h3 {
  font-weight: 600;
  padding-top: 42px;
  font-size: 1.375rem;
  line-height: 1.5em;
}

.links li {
  line-height: 2;
  font-weight: 300;
}

.links li a:hover {
  color: #ffad8f;
}

.links li a {
  transition: all 0.2s linear;
  cursor: pointer;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.51);
  background-color: transparent;
  box-sizing: inherit;
  transition: all 0.2s linear;
}

.links li a:visited {
  text-decoration: none;
}

.site-footer {
  display: flex;
  justify-content: space-around;
  padding-top: 70px;
  padding-bottom: 100px;
  padding-left: 10px;
}

ul {
  list-style: none;
  padding: none;
}

.quick-link h2 {
  padding-bottom: 18px;
  font-weight: 400;
  font-size: 1.375rem;
}

.subscribe h2 {
  font-weight: 400;
}

.subscribe {
  padding-right: 80px;
}

.email {
  border: 1px solid #0000;
  margin: 30px auto;
  padding: 12px 28px;
  color: black;
  display: block;
  max-width: 100%;
  float: none;
  font-family: inherit;
  background-color: #fff;
  box-shadow: none;
  border-radius: 0;
  border-color: #e2e2e2;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1;
  outline: none;
}

::-webkit-input-placeholder {
  text-align: left;
  position: relative;
  left: -15px;
}

.subsribe-btn {
  color: white;
  display: block;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1em;
  border: 1px solid #0000;
  background: #ffad8f;
  padding: 16px 24px;
  box-shadow: none;
  letter-spacing: 1px;
  transition: all 200ms ease-in-out;
  position: relative;
  top: -10px;
  cursor: pointer;
}

.subsribe-btn:hover {
  background-color: #fc9671;
  color: white;
}

.copyright-socials {
  min-height: 80px;
  border-style: solid;
  border-width: 0px;
  padding-top: 25px;
  padding-bottom: 15px;
  padding-left: 120px;
  padding-right: 120px;
  display: flex;
  justify-content: space-between;
}

.copyright-socials p {
  font-size: 15px;
  color: #333333;
  font-weight: 300;
}

.site-footer-icons i {
  margin: 0 12px;
}

.site-footer-icons i:hover {
  color: #ffad8f;
}

.site-footer-icons a {
  text-decoration: none;
  color: black;
}

.wrap {
  display: flex;
  align-items: center;
}

.text-wrap {
  display: flex;
  flex-direction: column;
}

.lead {
  display: flex;
  justify-content: space-between;
}
